@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes diagonalMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 650px 650px;
  }
}

main {
  background-color: #2f028b;
  background-image: url("/background.png");
  background-repeat: repeat;
  background-size: 650px 650px;
  animation: diagonalMove 40s linear infinite;
}
.pinkBackground {
  overflow: hidden;
}

.pinkBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/background-pink.png");
  background-repeat: repeat;
  background-size: 650px 650px;
  filter: blur(4px); /* Blur effect only on the background */
  z-index: -1; /* Push it behind the content */
}

.pinkBackground > * {
  position: relative; /* Ensure the content stays above the blurred background */
}
@font-face {
  font-family: "GEFontBlack";
  src: url("/GE_FONT_BLACK.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GEFontBOLD";
  src: url("/GE_FONT_BOLD.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "eurostile-bold";
  src: url("/eurostile-lt-std-geo-mt-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "eurostile-demi";
  src: url("/eurostile-lt-std-geo-mt-demi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "eurostile-normal";
  src: url("/eurostile-lt-std-geo-mt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-ge-black {
  font-family: "GEFontBlack", sans-serif;
}
html,
body {
  overscroll-behavior: none;
}

.cursor-pencil {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 19l7-7 3 3-7 7-3-3z"/><path d="M18 13l-1.5-7.5L2 2l3.5 14.5L13 18l5-5z"/><path d="M2 2l7.586 7.586"/><circle cx="11" cy="11" r="2"/></svg>')
      3 0,
    auto;
}

.cursor-bucket {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 11h2v9a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-9h2"/><path d="M3 11V6a3 3 0 0 1 3-3h12a3 3 0 0 1 3 3v5"/><path d="M12 3v16"/></svg>')
      12 12,
    auto;
}

.cursor-default {
  cursor: default;
}

.carousel-images {
  position: relative;
  border-radius: 10px;
  height: 300px;
  max-width: 650px;
  margin: auto;
  overflow: hidden;
}
.carousel-images img {
  width: 99%;
  height: 99%;
  border-radius: 8px;
}
.slide_direction {
  display: flex;
  justify-content: space-between;
}
.left,
.right {
  /*background-color: #fb666675;*/
  color: #fff;
  /* padding: 10px 8px 8px 13px; */
  margin: 0 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 10px;
  height: 25px;
  width: 25px;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.carousel-indicator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.dot {
  background-color: #333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.active {
  background-color: #fa2020;
}
.wrap {
  display: inline-block;
  position: relative;
}
.button {
  position: absolute;
  right: 0.5em;
  top: 0.4em;
}
.input {
  padding: 0.5em 3.5em 0.5em 0.5em;
}

.mid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}

.rocker {
  display: inline-block;
  position: relative;

  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
}

.rocker-small {
  font-size: 0.75em; /* Sizes the switch */
  margin: 1em;
}

.rocker::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em solid #eee;
  border-bottom: 0;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: #bd5757;
  color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked + .switch-left {
  background-color: #0084d0;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
  background-color: #ccc;
}

/* Keyboard Users */
input:focus + .switch-left {
  color: #333;
}

input:checked:focus + .switch-left {
  color: #fff;
}

input:focus + .switch-left + .switch-right {
  color: #fff;
}

input:checked:focus + .switch-left + .switch-right {
  color: #333;
}
